# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# React / Node
node_modules/
frontend/node_modules/
build/
dist/

# macOS
.DS_Store

# VS Code
.vscode/
